/* Sidebar.css */

/* Sidebar container */
.sidebar-container {
  width: 240px;
  flex-shrink: 0;
}

.sidebar-paper {
  width: 240px;
  /* Adjust based on your drawer width */
  box-sizing: border-box;
}

/* Sidebar header */
.sidebar-header {
  text-align: center;
  background:  linear-gradient(135deg, #FFDEE9, #B5FFFC);
  padding: 16px;
}


.sidebar-content {
  text-align: center;
  margin-top: 16px;
}
/* styled.css */
@media (max-width: 960px) {
  .main-content {
    padding-top: 64px; /* Height of AppBar */
  }
}
