.verify {
  display: flex;
  justify-content:right;
align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.verifyBox {
display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  padding: 30px;
  border-radius: 8px;
}

.verifyBox h2 {
  margin: 0; 
  margin-bottom: 20px; 
}

/* input {
  margin-bottom: 10px; 

} */


